.game-grid {
  .grid-tile {
    width:60px;
    height: 60px;
  }

  .dirty {
    background: url(../images/dirt.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .robot {
    width: 100%;
    height:100%;
    background: url(../images/roomba.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

