body{
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  background: #ccc;
}

#app{
  width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  background: white;

  @media (min-width: 992px){
    width: 60%;
  }
}

.container-fluid {
  h1 {
    text-align: center;
    font-size: 2em;
    color: #C21F39;
  }
}

.row-setup {
  min-height:220px;
}

span {
  font-size: 22px;
}

.col-title {
  text-align: center;
}

.col-next {
  text-align: right;

  .btn {
    margin:25px;
  }
}