.col-controls {
  padding:25px;
  text-align: center;
}

.room-controls {
  .btn {
    &:active, &:focus {
      background-color: white;
      outline: none;
      border-color: #ccc;
    }
    &:nth-child(2) {
      cursor: auto;
    }
  }
}

